<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Inclusivity Review</title>
		<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFSeMVki-HksYGMu0JH0MGC5qEZ7Atn4U&callback=initMap&libraries=places" defer></script> 
		<link rel="stylesheet" href="index.css">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&amp;subset=Latin">
		<script src="api.js"></script>
		<script src="index.js"></script>
	</head>
	<body>
		<div id="upper">
		</div>
		<div id="lower">
			<div id="leftaside">
				<div id="leftinner" style="display: none">
					<h2 id="placetitle">
						Place title
					</h2>
					<p id="placetype">
						Place Type
					</p>
					<p id="placesafety">
					</p>
					<p id="placeinclusivity">
					</p>
					<p id="placeenjoyability">
					</p>
				</div>
				<p id="nonefound" style="display: none">
					There are no reviews for this establishment.
				</p>
				<a id="leftmore" style="display: none;">
					See all details and reviews...
				</a>
			</div><div id="middle">
				<div id="search">
					<input type="text" name="searchtext" id="searchtext"/>
				</div>
				<span id="location" onclick="centerOnLocation()">
					Use my location
				</span>
				<div id="map">
				</div>
			</div><div id="rightaside">
				Right
			</div>
		</div>
	</body>
</html>