* {
	box-sizing: border-box;
	font-family: Ubuntu, sans-serif;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
}

/* Layout */

#upper {
	width: 100%;
	height: 25%;
	background-image: url("logo.png");
	background-repeat: no-repeat;
	background-position-x: center;
}

#lower {
	width: 100%;
	height: 75%;
}

#leftaside, #middle, #rightaside {
	display: inline-block;
	height: 100%;
	vertical-align: top;
	padding: 3vw;
}

#leftaside {
	width: 25%;
	padding-right: 0px;
	padding-left: 1em;
}

#middle {
	width: 65%;
}

#rightaside {
	width: 10%;
	padding-left: 0px;
	padding-right: 1em;
}

/* Middle */

#search {
	width: 100%;
	margin-bottom: 2em;
}

#location {
	margin-left: 4vw;
	text-decoration: underline;
	margin-bottom: 2em;
	display: inline-block;
}

#location:hover {
	text-decoration: none;
	cursor: pointer;
}

#map {
	width: 70%;
	height: 70%;
}

/* Left */

#placetitle {
	margin: 0;
}

#placetype {
	margin-top: 0;
}

#placesafety, #placeinclusivity, #placeenjoyability {
	margin: 0
}

.score {
	margin-right: 1em;
}

.reviewtitle {
	margin-bottom: 0.4em;
}

.tagdiv {
	margin-bottom: 1em;
}

.tagspan {
	background-color: lightblue;
	border: 0.4em lightblue solid;
	border-radius: 0.4em;
	margin-right: 0.5em;
}