<!DOCTYPE html>
<html>
	<head>
		<title>Inclusivity Review</title>
		<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFSeMVki-HksYGMu0JH0MGC5qEZ7Atn4U&callback=initMap&libraries=places" defer></script> 
		<link rel="stylesheet" href="index.css">
		<script src="index.js"></script>
	</head>
	<body>
		<div id="upper">
			Upper
		</div>
		<div id="lower">
			<div id="leftaside">
				Left
			</div><div id="middle">
				Middle
			</div><div id="rightaside">
				Right
			</div>
		</div>
	</body>
</html>