<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Review</title>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFSeMVki-HksYGMu0JH0MGC5qEZ7Atn4U&callback=initMap&libraries=places" defer></script>
        <script src="api.js"></script>
        <script src="review.js"></script>
        <link rel="stylesheet" href="review.css" type="text/css">
        <!-- font -->
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
        <!-- Add icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
    <div class="column" id="idColumn">
        <div class="row" id="descriptionRow" style="padding: 5%">
            <button type="button" class="button" onclick="backButtonClick()">Back</button>
            <section>
                <img id="placeImage" src="placeholder.jpg" height="100%" width="100%">
            </section>
            <label id="placeLabel">Name of Place</label>
        </div>
        <div class="row" id="infoRow">
            <div class="column">
                <div class="row">
                    <section class="column">
                        <label>Inclusivity</label>
                    </section>
                    <section id="inclusivityRating" class="column">
                    </section>
                </div>
                <div class="row">
                    <section class="column">
                        <label class="row">Enjoyability</label>
                    </section>
                    <section id="enjoyabilityRating" class="column">
                    </section>
                </div>
                <div class="row">
                    <section class="column">
                        <label class="row">Safety</label>
                    </section>
                    <section id="safetyRating" class="column">
                    </section>
                </div>
            </div>
            <div class="column">
                <section>
                    <textarea id="descriptionBox" disabled="True"></textarea>
                </section>
            </div>
        </div>
    </div>
    <div class="column" id="reviewColumn">
        <div class="row" >
            <input type="number" id="quantity" name="quantity" min="1" max="5">
            <p>
                <textarea style=""></textarea>
            </p>
        </div>
        <div class="row" style="height: 20%">
            <button type="button" id="reviewButton" onclick="reviewOnClick()" class="button">Write a review</button>
            <button type="button" id="reportButton" onclick="reportOnClick()" class="button">Report</button>
        </div>
    </div>
    <div id="map">
    </div>
    </body>
</html>