<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
   http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">    
    
    <servlet>
        <servlet-name>ServPlaceExist</servlet-name>
        <servlet-class>createcamp.inclusivityreview.ServletPlaceExist</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServPlaceExist</servlet-name>
        <url-pattern>/exist</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ServPlaceAdd</servlet-name>
        <servlet-class>createcamp.inclusivityreview.ServletPlaceAdd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServPlaceAdd</servlet-name>
        <url-pattern>/addplace</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ServPlaceReview</servlet-name>
        <servlet-class>createcamp.inclusivityreview.ServletPlaceReview</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServPlaceReview</servlet-name>
        <url-pattern>/review</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>ServUser</servlet-name>
        <servlet-class>createcamp.inclusivityreview.ServletUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServUser</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>

</web-app>